examples/memory_profiles
funnel.db
**/CLAUDE.md
*.sh.o*
*.sh.e*
examples/hostfiles
scaling_test
local_tests
**/experiments_log/
src/appfl/service/resources
wandb
uploads*
.vscode
.gitignore
creds
log_globus_compute_appfl
.DS_Store
*.npz
.compressor
*.pptx
src/appfl/.DS_Store
src/appfl/algorithm/mryu.py
examples/config_gc/creds/credential.csv
examples/resources/monai
note
datasets
*output*
trials
examples/output*
examples/globus_compute/creds
examples/log_globus_compute_appfl
examples/archive
examples/output
examples/runs
examples/CIFAR10_Trajectory
examples/globus_compute/creds
*/log_globus_compute_appfl
examples/.DS_Store
examples/save_models
examples/outputs/*
examples/results/*
examples/*.sh
examples/Slurm_outputs/*
examples/PostProcessing/*
examples/dataset/PreprocessedData/*/
examples/dataset/RawData/
examples/datasets/RawData/
examples/gcloud/resulting_models
examples/datasets/CovidDatasets
examples/datasets/CovidProcessed
examples/PostProcessing
examples/save_models
examples/Trials
examples/gcloud/generated_pb2
examples/gcloud/*.sh
examples/gcloud/*.pb
examples/gcloud/api_config.yaml
note
outputs/*
_data
docs/notebooks/results
results
mryu_lib/*
endpoints
**/.proxystore*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Vim stuff:
*.swp

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
examples/models/IsabelleTorch.pth
examples/models/IsabelleTorch.py
examples/models/IsabelleTorch.pth
examples/Trials/BinaryClassification.py
examples/Trials/IsabelleModel.py

# Pyre type checker
.pyre/
appfl/privacy/library.py
src/appfl/algorithm/admm.py
src/appfl/config/fed/admm.yaml
examples/gcloud/mnist_test_data.pickle
examples/test.py
.gitignore
examples/gcloud/api_config.yaml
examples/gcloud/api_descriptor.pb
examples/gcloud/generated_pb2/federated_learning_pb2_grpc.py
examples/gcloud/generated_pb2/federated_learning_pb2.py
examples/models/model.pt
examples/datasets/PreprocessedData/coronahack_train_data.json
examples/gcloud/IsabelleTorch.pth
examples/gcloud/IsabelleTorch.py
examples/datasets/PreprocessedData/deepcovid_train_data.json
examples/datasets/PreprocessedData/deepcovid_test_data.json
examples/gcloud/deepcovid_test_data.json
examples/mnist_slow.py
examples/MPI_DeepCovid_1.py
examples/MPI_DeepCovid_2.py
examples/MPI_FedCovid_1.py
examples/MPI_FedCovid_2.py
Installation.md
src/appfl/run_mpi_pca.py
src/appfl/run_serial_pca.py
outputs_*
test_polaris/test_script.sh
.idea
