.DS_Store
.idea
.vscode
examples/log_funcx_appfl/
examples/archive*
examples/datasets/*
examples/runs/
examples/save_models/
venv
src/appfl.egg-info/
**/__pycache__/
**/.ipynb_checkpoints/
examples/**/*.png
examples/experiments/
examples/pretrained/